# Dependencies
**/node_modules
.pnpm-store
**/pnpm-lock.yaml  # optional, boleh di-commit

# Build
dist
.next
out
build

# Environment
.env
.env*.local

# Logs
*.log

# Turbo & Cache
.turbo
.cache

# Cloudflare
.wrangler
.dev.vars

# OS & IDE
.DS_Store
.vscode
.idea
